.item-container {
  min-height: 20vh;
  background-color: #f8f7fd;
}

.info-container {
  width: 80vw;
  min-height: 100%;
  margin: auto;
  background-color: white;
  font-family: "Segoe UI";
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.info-container div {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.bottom-info {
  display: flex;
  justify-content: space-around;
}

.info-container span,
.bottom-info span {
  font-weight: bold;
}

.buttons-container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.buttons-container button {
  width: 16vw;
  height: 6vh;
  margin: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
}
